body {
 font-family: 'Geometria';
 font-style: normal;
 font-kerning: normal;
 text-rendering:optimizeLegibility;
 -webkit-font-smoothing: antialiased;
 -webkit-overflow-scrolling: touch;
 background-color: #eee;
 margin: 0;
}
 
a:link,
a:visited,
a:active,
a:hover,
a:focus,
a:before,
a:after {
 text-decoration: none;
 outline: 0;
}



a {
 color: #777;
 word-wrap: break-word;
 border-bottom: 1px solid;
 padding-bottom: 0;
 border-bottom-color: #777;
  -webkit-transition: all ease .2s;
 -moz-transition: all ease .2s;
 -o-transition: all ease .2s;
 transition: all ease .2s;
}

a:hover {
 color: #000;
 border-bottom-color: #ddd;
 padding-bottom: 5px;
}

p {
 font-size: 1.3em;
}

h1 {
 font-family: 'Gilroy';
 color: #222;
 line-height: 1em;
}

h1 a{
 border-bottom: 5px solid;
}

.container {
 margin: 0 auto;
 max-width: 450px;
 padding-left: 8%;
 padding-right: 8%;
 padding-top: 70px;
 padding-bottom: 70px;
}

#logo {
 margin: 0 auto;
 margin-top: 20px;
 margin-bottom: -70px;
 max-width: 256px;
}

#footer {
 background-color: #ddd;
 color: #111;
 text-align: center;
}

#footer a {
 color: #777;
 border-bottom-color: #777;

}

#footer a:hover {
 color: #000;
 border-bottom-color: #ccc;
 padding-bottom: 5px;
}

#footer p {
 font-size: 0.8em;
}